backend/Pipfile.lock
backend/__pycache__/database.cpython-310.pyc
backend/__pycache__/main.cpython-310.pyc
backend/__pycache__/model.cpython-310.pyc
backend/Pipfile
frontend/public
.venv
.env

backend/.vscode/launch.json
.gitignore
backend/.vscode/settings.json
backend/__pycache__/dataUpdate.cpython-310.pyc
backend/__pycache__/people.cpython-310.pyc
.vscode/launch.json
